@import url(./reset.css);
:root {
    --body-color: orangered;
    --container-color: #000;
    --color-font: #fff;
    --green-color: rgb(3, 116, 3);
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--body-color);
    width: 100%;
    height: 100%;
    color: var(--color-font);

}
.conteiner {
    display: flex;
    justify-content: center;
    background-color: var(--container-color);    
    width: 300px;
    height: 500px;
    border-radius: 5px 5px 0 0;
}
.aside-in #outText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.aside-in {
    padding: 50%;
    font-size: 24px;
    text-align: center;
}
#btnSeePro {
    display: flex;
    padding: 5px;
    margin-top: 5px ;
    flex-direction: column;
    margin-left: 20%;
    color: var(--green-color);
    font-weight: bolder;
}